[submodule "SM3/GmSSL"]
	path = SM3/GmSSL
	url = git@github.com:guanzhi/GmSSL.git
[submodule "Blake2/Blake2"]
	path = Blake2/Blake2
	url = git@github.com:BLAKE2/BLAKE2.git
[submodule "Blake3/Blake3"]
	path = Blake3/Blake3
	url = git@github.com:BLAKE3-team/BLAKE3.git
